################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples~/MetaPersonLoaderSample/Library
/Samples~/MetaPersonLoaderSample/Logs
/Samples~/MetaPersonLoaderSample/UserSettings
/Samples~/MetaPersonLoaderSample/MetaPersonLoaderSample.sln
/Samples~/MetaPersonLoaderSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonLoaderSample/Assembly-CSharp.csproj
/Samples~/MetaPersonLoaderSample/.vsconfig
/Samples~/MetaPersonLoaderSample/Temp
/Samples~/MetaPersonLoaderSample/.vs/MetaPersonLoaderSample
/Samples~/MetaPersonLoaderSample/obj/Debug
/Samples~/MetaPersonCreatorDesktopIntegrationSample/.vs/MetaPersonCreatorDesktopIntegrationSample
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Library
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Logs
/Samples~/MetaPersonCreatorDesktopIntegrationSample/obj/Debug
/Samples~/MetaPersonCreatorDesktopIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorDesktopIntegrationSample/MetaPersonCreatorDesktopIntegrationSample.sln
/Samples~/MetaPersonCreatorDesktopIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Assembly-CSharp-Editor.csproj
/Samples~/MetaPersonCreatorDesktopIntegrationSample/.vsconfig
/Samples~/MetaPersonLoaderSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Temp
/Samples~/MetaPersonCreatorDesktopIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorWebglIntegrationSample/Library
/Samples~/MetaPersonCreatorWebglIntegrationSample/Logs
/Samples~/MetaPersonCreatorWebglIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorWebglIntegrationSample/MetaPersonCreatorWebglIntegrationSample.sln
/Samples~/MetaPersonCreatorWebglIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorWebglIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorWebglIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorWebglIntegrationSample/.vsconfig
/Samples~/MetaPersonCreatorAndroidIntegrationSample/.vs/MetaPersonCreatorAndroidIntegrationSample
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Assets/Vuplex.meta
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Assets/Vuplex
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Library
/Samples~/MetaPersonCreatorAndroidIntegrationSample/obj/Debug
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Logs
/Samples~/MetaPersonCreatorAndroidIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorAndroidIntegrationSample/MetaPersonCreatorAndroidIntegrationSample.sln
/Samples~/MetaPersonCreatorAndroidIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorAndroidIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Assembly-CSharp-Editor.csproj
/Samples~/MetaPersonCreatorAndroidIntegrationSample/.vsconfig
/Samples~/MetaPersonCreatorMobileIntegrationSample/.vs/MetaPersonCreatorMobileIntegrationSample
/Samples~/MetaPersonCreatorMobileIntegrationSample/obj/Debug
/Samples~/MetaPersonCreatorMobileIntegrationSample/Logs
/Samples~/MetaPersonCreatorMobileIntegrationSample/Library
/Samples~/MetaPersonCreatorMobileIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorMobileIntegrationSample/MetaPersonCreatorMobileIntegrationSample.sln
/Samples~/MetaPersonCreatorMobileIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorMobileIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorMobileIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorMobileIntegrationSample/Assembly-CSharp-Editor.csproj
/Samples~/MetaPersonCreatorMobileIntegrationSample/.vsconfig
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/.vs/MetaPersonCreatorWebGLIFrameIntegrationSample/v15
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/Library
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/Logs
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/obj/Debug
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/Temp
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/MetaPersonCreatorWebGLIFrameIntegrationSample.sln
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/.vsconfig
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/.vs
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/obj/Debug
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/Logs
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/Library
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/MetaPersonCreatorWebglWebViewIntegrationSample.sln
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/MetaPersonCreatorWebglIntegrationSample.sln
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/Assembly-CSharp-Editor.csproj
/Samples~/MetaPersonCreatorWebGLWebViewIntegrationSample/.vsconfig
/Samples~/MetaPersonCreatorWebGLIFrameIntegrationSample/.vs/MetaPersonCreatorWebGLIFrameIntegrationSample/DesignTimeBuild
/Samples~/MetaPersonCreatorMobileIntegrationSample/Temp
/Samples~/MetaPersonCreatorMobileIntegrationSample/UniWebView-CSharp.Editor.csproj
/Samples~/MetaPersonCreatorMobileIntegrationSample/UniWebView-CSharp.csproj
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/.vs/MetaPersonCreatorMobileIntegrationViaVuplexSample
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/Library
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/Logs
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/obj/Debug
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/UserSettings
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/MetaPersonCreatorMobileIntegrationViaVuplexSample.sln
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/Assembly-CSharp-Editor.csproj
/Samples~/MetaPersonCreatorMobileIntegrationViaVuplexSample/.vsconfig
