################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples~/MetaPersonLoaderSample/Library
/Samples~/MetaPersonLoaderSample/Logs
/Samples~/MetaPersonLoaderSample/UserSettings
/Samples~/MetaPersonLoaderSample/MetaPersonLoaderSample.sln
/Samples~/MetaPersonLoaderSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonLoaderSample/Assembly-CSharp.csproj
/Samples~/MetaPersonLoaderSample/.vsconfig
/Samples~/MetaPersonLoaderSample/Temp
/Samples~/MetaPersonLoaderSample/.vs/MetaPersonLoaderSample
/Samples~/MetaPersonLoaderSample/obj/Debug
/Samples~/MetaPersonCreatorDesktopIntegrationSample/.vs/MetaPersonCreatorDesktopIntegrationSample
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Library
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Logs
/Samples~/MetaPersonCreatorDesktopIntegrationSample/obj/Debug
/Samples~/MetaPersonCreatorDesktopIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorDesktopIntegrationSample/MetaPersonCreatorDesktopIntegrationSample.sln
/Samples~/MetaPersonCreatorDesktopIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Assembly-CSharp-Editor.csproj
/Samples~/MetaPersonCreatorDesktopIntegrationSample/.vsconfig
/Samples~/MetaPersonLoaderSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorDesktopIntegrationSample/Temp
/Samples~/MetaPersonCreatorDesktopIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorWebglIntegrationSample/Library
/Samples~/MetaPersonCreatorWebglIntegrationSample/Logs
/Samples~/MetaPersonCreatorWebglIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorWebglIntegrationSample/MetaPersonCreatorWebglIntegrationSample.sln
/Samples~/MetaPersonCreatorWebglIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorWebglIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorWebglIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorWebglIntegrationSample/.vsconfig
/Samples~/MetaPersonCreatorAndroidIntegrationSample/.vs/MetaPersonCreatorAndroidIntegrationSample
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Assets/Vuplex.meta
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Assets/Vuplex
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Library
/Samples~/MetaPersonCreatorAndroidIntegrationSample/obj/Debug
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Logs
/Samples~/MetaPersonCreatorAndroidIntegrationSample/UserSettings
/Samples~/MetaPersonCreatorAndroidIntegrationSample/MetaPersonCreatorAndroidIntegrationSample.sln
/Samples~/MetaPersonCreatorAndroidIntegrationSample/AvatarSDK.MetaPerson.Loader.Editor.csproj
/Samples~/MetaPersonCreatorAndroidIntegrationSample/AvatarSDK.MetaPerson.Loader.csproj
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Assembly-CSharp.csproj
/Samples~/MetaPersonCreatorAndroidIntegrationSample/Assembly-CSharp-Editor.csproj
/Samples~/MetaPersonCreatorAndroidIntegrationSample/.vsconfig
